* {
    box-sizing: border-box;
	padding: 0;
    margin: 0;
	font-family: 'Roboto', sans-serif;
}

body {
    background-color: rgb(31, 31, 31);
	display: flex;
	justify-content: center;
	align-items: center;
	min-height: 100vh;
	color: aliceblue;
	 
}

#container {

	width: 400px;
    height: 420px;
	padding: 2rem;
	background: #292929;
	
	
	
    
	border-radius: 5px;
	box-shadow: rgba(0, 0, 0, 0.09) 0px 2px 1px, rgba(0, 0, 0, 0.09) 0px 4px 2px, rgba(0, 0, 0, 0.09) 0px 8px 4px, rgba(0, 0, 0, 0.09) 0px 16px 8px, rgba(0, 0, 0, 0.09) 0px 32px 16px; 
    
}

.calc-main h3 {
	text-align: center;
	margin-bottom: 2rem;
}

.form-input {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
}

.form-control {
	display: flex;
	flex-direction: column;
	flex: 1;
	margin-bottom: 1rem;
}

/* #wrapper { */

	/* display: block;
	justify-content: center;
	align-items: center;
	height: 100%;   */
/* } */

/* div > #inputs  {

	width: 80px;
	padding: 50px;
	display: flex;
	align-items: center;
	height: 20px;
	gap: 20px;
	/* border: 5px solid red; */

/* } */