* {

    box-sizing: border-box;
	padding: 0;
    margin: 0;
	
}

form h3 {

	letter-spacing: 0.5px;
	font-size: 20px;
	padding: 12px;
	margin-top: 15px;
	font-weight: 700;
	
	text-align: center;
	margin-bottom: 2rem;
	

}

body {

    background-image: linear-gradient(to bottom, #DCE8E9, #C8D6D7);
	display: flex;
	justify-content: center;
	align-items: center;
	min-height: 100vh;
	color: black;
	
}

body * {
	font-family: 'Poppins', sans-serif;
}

#container {

	width: 400px;
    height: 480px;
	padding: 2rem;
	background: #ffff;
	display: grid;
	place-items: center;
	
	
	    
	border-radius: 30px;
	box-shadow: rgba(0, 0, 0, 0.09) 0px 2px 1px, rgba(0, 0, 0, 0.09) 0px 4px 2px, rgba(0, 0, 0, 0.09) 0px 8px 4px, rgba(0, 0, 0, 0.09) 0px 16px 8px, rgba(0, 0, 0, 0.09) 0px 32px 16px; 
    
}



.form-input {
	
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	margin-top: 10px;

}

.form-control {

	display: flex;
	flex-direction: column;
	flex: 1;
	margin-bottom: 1rem;
	border-radius: 20px;
	padding: 9px;
		
}

input[type="radio"] {
    margin: 0 10px;
	align-items: center;
	appearance: none;
	width: 20px;
	height: 20px;
	cursor: pointer;
	border-radius: 50%;
	background-color: #C8D6D7;
}

#radio-wrapper input[type="radio"]:checked {
	background-image: radial-gradient(#C8D6D7 35%, black 20%);
}


.form-control input {

	padding: 1rem 0.5rem;
	margin-bottom: 0.1rem;
	border-radius: 10px;
	border: 0;
	font-size: 12px;
	text-align: center;
	font-family: 'Poppins', sans-serif;
	background-color: #D4E4FC;

}

.calc-main {
	
	width: 300px;

}

input [type="text"] {

	display: flex;
	align-items: center;
	
}

#radio-wrapper {

    display: flex;
    justify-content: center;
    margin: 20px 0;
	
	
}



.botao {
	display: grid;
	padding-top: 1.5rem;
	place-items: center;
}

.button-36 {

  background-color: black;
  
  border-style: none;
  box-sizing: border-box;
  color: #FFFFFF;
  cursor: pointer;
  flex-shrink: 0;

  
  font-family: 'Poppins', sans-serif;
  font-size: 14px;
  font-weight: 600;
  letter-spacing: 2px;

  height: 40px;
  width: 300px;
  padding: 0 1.6rem;
  text-align: center;
  text-shadow: rgba(0, 0, 0, 0.25) 0 3px 8px;
  transition: all .5s;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

.button-36:hover {
  box-shadow: rgba(80, 63, 205, 0.5) 0 1px 30px;
  transition-duration: .1s;
  background-color: orangered;
  color: black;
}

footer {
	position: fixed;
	font-size: 10px;
	bottom: 0;
	left: 0;
	right: 0;
	background-color: #333;
	color: #fff;
	text-align: center;
	padding: 10px;
  }
  
#resultArea {
	padding-top: 10px;
	font-size: 30px;
}

@media only screen and (max-width: 360px) {
	#container {
	   width: 80%;
	}
	
	.button-36 {
	   width: 50%;
	}
 }

@media (min-width: 768px) {
  .button-36 {
    padding: 0 2.6rem;
  }
}

